<header class="body-header">
    <nav>
        <section class="nav-item">
            <h1>
                <a href="/">
                    Ecommerce Nowbit 
                </a>
            </h1>
        </section>
        <section class="nav-item">
            <div class="form-items">
                <label for="input-search">
                    Search
                </label>
                <input
                    id="search-text"
                    type="search"
                    placeholder="search anything"
                    form="filters"
                    name="search_text"
                    list="search-text-suggestions"
                    value="{{#if searchParams.search_text}}{{searchParams.search_text}}{{/if}}"
                >
                <button type="submit" form="filters" name="action" value="search" aria-label="Search">
                    <i class="fa fa-search"></i>
                </button>

                <datalist id="search-text-suggestions">

                </datalist>
            </div>
        </section>
        <ul class="nav-item">
            <li>
                <a href="https://github.com/iTiagoCO/ecommerce-db" target="_blank">
                    <i class="fab fa-github"></i>
                    <span>
                        Github
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>
